In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, initcap, lower, concat, lit, regexp_replace, coalesce, lpad

In [2]:
spark = SparkSession.builder.appName("Credit Card System").getOrCreate()
cust_df = spark.read.json("C:/PE/CAP350/cdw_sapp_custmer.json")

Below, I used Sparks .withColumn method to modify the column for the customer df.

In [3]:
# mapping the columns according to specifications
cust_df = cust_df.withColumn("SSN", col("SSN").cast("integer"))\
                .withColumn("FIRST_NAME", initcap(col("FIRST_NAME")))\
                .withColumn("MIDDLE_NAME", lower(col("MIDDLE_NAME")))\
                .withColumn("LAST_NAME", initcap(col("LAST_NAME")))\
                .withColumn("CREDIT_CARD_NO", col("CREDIT_CARD_NO"))\
                .withColumn("FULL_STREET_ADDRESS", concat(col("STREET_NAME"), lit(", "), col("APT_NO")))\
                .withColumn("CUST_CITY", col("CUST_CITY"))\
                .withColumn("CUST_STATE", col("CUST_STATE"))\
                .withColumn("CUST_COUNTRY", col("CUST_COUNTRY"))\
                .withColumn("CUST_ZIP", col("CUST_ZIP").cast("integer"))\
                .withColumn("CUST_PHONE", col("CUST_PHONE"))\
                .withColumn("CUST_EMAIL", col("CUST_EMAIL"))\
                .withColumn("LAST_UPDATED", col("LAST_UPDATED"))

In [4]:
cust_df.printSchema()

root
 |-- APT_NO: string (nullable = true)
 |-- CREDIT_CARD_NO: string (nullable = true)
 |-- CUST_CITY: string (nullable = true)
 |-- CUST_COUNTRY: string (nullable = true)
 |-- CUST_EMAIL: string (nullable = true)
 |-- CUST_PHONE: string (nullable = true)
 |-- CUST_STATE: string (nullable = true)
 |-- CUST_ZIP: integer (nullable = true)
 |-- FIRST_NAME: string (nullable = true)
 |-- LAST_NAME: string (nullable = true)
 |-- LAST_UPDATED: string (nullable = true)
 |-- MIDDLE_NAME: string (nullable = true)
 |-- SSN: integer (nullable = true)
 |-- STREET_NAME: string (nullable = true)
 |-- FULL_STREET_ADDRESS: string (nullable = true)

In [5]:
cust_df.show(truncate=False)

+------+----------------+------------+-------------+----------------------+----------+----------+--------+----------+---------+-----------------------------+-----------+---------+-----------------+----------------------+
|APT_NO|CREDIT_CARD_NO  |CUST_CITY   |CUST_COUNTRY |CUST_EMAIL            |CUST_PHONE|CUST_STATE|CUST_ZIP|FIRST_NAME|LAST_NAME|LAST_UPDATED                 |MIDDLE_NAME|SSN      |STREET_NAME      |FULL_STREET_ADDRESS   |
+------+----------------+------------+-------------+----------------------+----------+----------+--------+----------+---------+-----------------------------+-----------+---------+-----------------+----------------------+
|656   |4210653310061055|Natchez     |United States|AHooper@example.com   |1237818   |MS        |39120   |Alec      |Hooper   |2018-04-21T12:49:02.000-04:00|wm         |123456100|Main Street North|Main Street North, 656|
|829   |4210653310102868|Wethersfield|United States|EHolman@example.com   |1238933   |CT        |6109    |Etta      |Holman   |2018-04-21T12:49:02.000-04:00|brendan    |123453023|Redwood Drive    |Redwood Drive, 829    |
|683   |4210653310116272|Huntley     |United States|WDunham@example.com   |1243018   |IL        |60142   |Wilber    |Dunham   |2018-04-21T12:49:02.000-04:00|ezequiel   |123454487|12th Street East |12th Street East, 683 |
|253   |4210653310195948|NewBerlin   |United States|EHardy@example.com    |1243215   |WI        |53151   |Eugenio   |Hardy    |2018-04-21T12:49:02.000-04:00|trina      |123459758|Country Club Road|Country Club Road, 253|
|301   |4210653310356919|ElPaso      |United States|WAyers@example.com    |1242074   |TX        |79930   |Wilfred   |Ayers    |2018-04-21T12:49:02.000-04:00|may        |123454431|Madison Street   |Madison Street, 301   |
|3     |4210653310395982|NorthOlmsted|United States|BWoodard@example.com  |1242570   |OH        |44070   |Beau      |Woodard  |2018-04-21T12:49:02.000-04:00|ambrose    |123454202|Colonial Drive   |Colonial Drive, 3     |
|84    |4210653310400536|Vienna      |United States|SKemp@example.com     |1239685   |VA        |22180   |Sheila    |Kemp     |2018-04-21T12:49:02.000-04:00|larry      |123451799|Belmont Avenue   |Belmont Avenue, 84    |
|728   |4210653310459911|Duarte      |United States|WHurley@example.com   |1238213   |CA        |91010   |Wendy     |Hurley   |2018-04-21T12:49:02.000-04:00|ora        |123453875|Oxford Court     |Oxford Court, 728     |
|81    |4210653310773972|Owosso      |United States|AGilmore@example.com  |1240689   |MI        |48867   |Alec      |Gilmore  |2018-04-21T12:49:02.000-04:00|tracie     |123457511|Forest Street    |Forest Street, 81     |
|561   |4210653310794854|Zion        |United States|BLau@example.com      |1235222   |IL        |60099   |Barbra    |Lau      |2018-04-21T12:49:02.000-04:00|mitchel    |123457464|Court Street     |Court Street, 561     |
|622   |4210653310817373|Youngstown  |United States|EThomson@example.com  |1241363   |OH        |44512   |Edmundo   |Thomson  |2018-04-21T12:49:02.000-04:00|denny      |123457639|Cypress Court    |Cypress Court, 622    |
|924   |4210653310844617|Summerville |United States|ETruong@example.com   |1236228   |SC        |29483   |Elsa      |Truong   |2018-04-21T12:49:02.000-04:00|isabelle   |123453242|8th Street West  |8th Street West, 924  |
|611   |4210653311015303|ElPaso      |United States|HMckinney@example.com |1238165   |TX        |79930   |Homer     |Mckinney |2018-04-21T12:49:02.000-04:00|henry      |123454339|East Avenue      |East Avenue, 611      |
|680   |4210653311215039|Fenton      |United States|RKidd@example.com     |1234730   |MI        |48430   |Rita      |Kidd     |2018-04-21T12:49:02.000-04:00|rickey     |123454537|Route 44         |Route 44, 680         |
|71    |4210653311229354|Grandville  |United States|ABallard@example.com  |1242113   |MI        |49418   |Amalia    |Ballard  |2018-04-21T12:49:02.000-04:00|heriberto  |123452373|Warren Street    |Warren Street, 71     |
|195   |4210653311652836|YubaCity    |United States|PThomas@example.com   |1239888   |CA        |95993   |Patty     |Thomas   |2018-04-21T12:49:02.000-04:00|angelita   |123455343|Jones Street     |Jones Street, 195     |
|500   |4210653311707126|CapeCoral   |United States|JMorrow@example.com   |1240158   |FL        |33904   |Josefina  |Morrow   |2018-04-21T12:49:02.000-04:00|dorothea   |123451533|New Street       |New Street, 500       |
|989   |4210653311730764|Brookfield  |United States|NAndrews@example.com  |1241408   |WI        |53045   |Nelson    |Andrews  |2018-04-21T12:49:02.000-04:00|jefferson  |123459278|Division Street  |Division Street, 989  |
|810   |4210653311898082|Richmond    |United States|MSchneider@example.com|1238390   |VA        |23223   |Miquel    |Schneider|2018-04-21T12:49:02.000-04:00|maximo     |123456915|Maple Street     |Maple Street, 810     |
|649   |4210653312021765|WestChester |United States|PTidwell@example.com  |1235067   |PA        |19380   |Parker    |Tidwell  |2018-04-21T12:49:02.000-04:00|arnulfo    |123453807|Eagle Road       |Eagle Road, 649       |
+------+----------------+------------+-------------+----------------------+----------+----------+--------+----------+---------+-----------------------------+-----------+---------+-----------------+----------------------+
only showing top 20 rows

In [6]:
cust_df.createOrReplaceTempView("CDW_SAPP_CUSTOMER")
cust_cleaned = spark.sql("SELECT SSN, FIRST_NAME, MIDDLE_NAME, LAST_NAME, CREDIT_CARD_NO, FULL_STREET_ADDRESS,\
                         CUST_CITY, CUST_STATE, CUST_COUNTRY, CUST_ZIP, CUST_PHONE, CUST_EMAIL,\
                         LAST_UPDATED from CDW_SAPP_CUSTOMER")
cust_cleaned.show(truncate=False)

+---------+----------+-----------+---------+----------------+----------------------+------------+----------+-------------+--------+----------+----------------------+-----------------------------+
|SSN      |FIRST_NAME|MIDDLE_NAME|LAST_NAME|CREDIT_CARD_NO  |FULL_STREET_ADDRESS   |CUST_CITY   |CUST_STATE|CUST_COUNTRY |CUST_ZIP|CUST_PHONE|CUST_EMAIL            |LAST_UPDATED                 |
+---------+----------+-----------+---------+----------------+----------------------+------------+----------+-------------+--------+----------+----------------------+-----------------------------+
|123456100|Alec      |wm         |Hooper   |4210653310061055|Main Street North, 656|Natchez     |MS        |United States|39120   |1237818   |AHooper@example.com   |2018-04-21T12:49:02.000-04:00|
|123453023|Etta      |brendan    |Holman   |4210653310102868|Redwood Drive, 829    |Wethersfield|CT        |United States|6109    |1238933   |EHolman@example.com   |2018-04-21T12:49:02.000-04:00|
|123454487|Wilber    |ezequiel   |Dunham   |4210653310116272|12th Street East, 683 |Huntley     |IL        |United States|60142   |1243018   |WDunham@example.com   |2018-04-21T12:49:02.000-04:00|
|123459758|Eugenio   |trina      |Hardy    |4210653310195948|Country Club Road, 253|NewBerlin   |WI        |United States|53151   |1243215   |EHardy@example.com    |2018-04-21T12:49:02.000-04:00|
|123454431|Wilfred   |may        |Ayers    |4210653310356919|Madison Street, 301   |ElPaso      |TX        |United States|79930   |1242074   |WAyers@example.com    |2018-04-21T12:49:02.000-04:00|
|123454202|Beau      |ambrose    |Woodard  |4210653310395982|Colonial Drive, 3     |NorthOlmsted|OH        |United States|44070   |1242570   |BWoodard@example.com  |2018-04-21T12:49:02.000-04:00|
|123451799|Sheila    |larry      |Kemp     |4210653310400536|Belmont Avenue, 84    |Vienna      |VA        |United States|22180   |1239685   |SKemp@example.com     |2018-04-21T12:49:02.000-04:00|
|123453875|Wendy     |ora        |Hurley   |4210653310459911|Oxford Court, 728     |Duarte      |CA        |United States|91010   |1238213   |WHurley@example.com   |2018-04-21T12:49:02.000-04:00|
|123457511|Alec      |tracie     |Gilmore  |4210653310773972|Forest Street, 81     |Owosso      |MI        |United States|48867   |1240689   |AGilmore@example.com  |2018-04-21T12:49:02.000-04:00|
|123457464|Barbra    |mitchel    |Lau      |4210653310794854|Court Street, 561     |Zion        |IL        |United States|60099   |1235222   |BLau@example.com      |2018-04-21T12:49:02.000-04:00|
|123457639|Edmundo   |denny      |Thomson  |4210653310817373|Cypress Court, 622    |Youngstown  |OH        |United States|44512   |1241363   |EThomson@example.com  |2018-04-21T12:49:02.000-04:00|
|123453242|Elsa      |isabelle   |Truong   |4210653310844617|8th Street West, 924  |Summerville |SC        |United States|29483   |1236228   |ETruong@example.com   |2018-04-21T12:49:02.000-04:00|
|123454339|Homer     |henry      |Mckinney |4210653311015303|East Avenue, 611      |ElPaso      |TX        |United States|79930   |1238165   |HMckinney@example.com |2018-04-21T12:49:02.000-04:00|
|123454537|Rita      |rickey     |Kidd     |4210653311215039|Route 44, 680         |Fenton      |MI        |United States|48430   |1234730   |RKidd@example.com     |2018-04-21T12:49:02.000-04:00|
|123452373|Amalia    |heriberto  |Ballard  |4210653311229354|Warren Street, 71     |Grandville  |MI        |United States|49418   |1242113   |ABallard@example.com  |2018-04-21T12:49:02.000-04:00|
|123455343|Patty     |angelita   |Thomas   |4210653311652836|Jones Street, 195     |YubaCity    |CA        |United States|95993   |1239888   |PThomas@example.com   |2018-04-21T12:49:02.000-04:00|
|123451533|Josefina  |dorothea   |Morrow   |4210653311707126|New Street, 500       |CapeCoral   |FL        |United States|33904   |1240158   |JMorrow@example.com   |2018-04-21T12:49:02.000-04:00|
|123459278|Nelson    |jefferson  |Andrews  |4210653311730764|Division Street, 989  |Brookfield  |WI        |United States|53045   |1241408   |NAndrews@example.com  |2018-04-21T12:49:02.000-04:00|
|123456915|Miquel    |maximo     |Schneider|4210653311898082|Maple Street, 810     |Richmond    |VA        |United States|23223   |1238390   |MSchneider@example.com|2018-04-21T12:49:02.000-04:00|
|123453807|Parker    |arnulfo    |Tidwell  |4210653312021765|Eagle Road, 649       |WestChester |PA        |United States|19380   |1235067   |PTidwell@example.com  |2018-04-21T12:49:02.000-04:00|
+---------+----------+-----------+---------+----------------+----------------------+------------+----------+-------------+--------+----------+----------------------+-----------------------------+
only showing top 20 rows

In [7]:
cust_cleaned.printSchema()

root
 |-- SSN: integer (nullable = true)
 |-- FIRST_NAME: string (nullable = true)
 |-- MIDDLE_NAME: string (nullable = true)
 |-- LAST_NAME: string (nullable = true)
 |-- CREDIT_CARD_NO: string (nullable = true)
 |-- FULL_STREET_ADDRESS: string (nullable = true)
 |-- CUST_CITY: string (nullable = true)
 |-- CUST_STATE: string (nullable = true)
 |-- CUST_COUNTRY: string (nullable = true)
 |-- CUST_ZIP: integer (nullable = true)
 |-- CUST_PHONE: string (nullable = true)
 |-- CUST_EMAIL: string (nullable = true)
 |-- LAST_UPDATED: string (nullable = true)

In [8]:
# For CDW_SAPP_BRANCH
branch_df = spark.read.json("C:/PE/CAP350/cdw_sapp_branch.json")
branch_df = branch_df.withColumn("BRANCH_ZIP", coalesce(col("BRANCH_ZIP").cast("integer"), lit(99999)))\
                     .withColumn("BRANCH_PHONE", regexp_replace(col("BRANCH_PHONE"), r"(^\d{3})(\d{3})(\d{4}$)", r"($1)$2-$3"))

In [9]:
branch_df.show(truncate=False)

+-----------------+-----------+------------+-------------+------------+-------------------+----------+-----------------------------+
|BRANCH_CITY      |BRANCH_CODE|BRANCH_NAME |BRANCH_PHONE |BRANCH_STATE|BRANCH_STREET      |BRANCH_ZIP|LAST_UPDATED                 |
+-----------------+-----------+------------+-------------+------------+-------------------+----------+-----------------------------+
|Lakeville        |1          |Example Bank|(123)456-5276|MN          |Bridle Court       |55044     |2018-04-18T16:51:47.000-04:00|
|Huntley          |2          |Example Bank|(123)461-8993|IL          |Washington Street  |60142     |2018-04-18T16:51:47.000-04:00|
|SouthRichmondHill|3          |Example Bank|(123)498-5926|NY          |Warren Street      |11419     |2018-04-18T16:51:47.000-04:00|
|Middleburg       |4          |Example Bank|(123)466-3064|FL          |Cleveland Street   |32068     |2018-04-18T16:51:47.000-04:00|
|KingOfPrussia    |5          |Example Bank|(123)484-9701|PA          |14th Street        |19406     |2018-04-18T16:51:47.000-04:00|
|Paterson         |7          |Example Bank|(123)414-4890|NJ          |Jefferson Street   |7501      |2018-04-18T16:51:47.000-04:00|
|Pittsford        |8          |Example Bank|(123)467-8272|NY          |B Street           |14534     |2018-04-18T16:51:47.000-04:00|
|Wethersfield     |9          |Example Bank|(123)467-5219|CT          |Jefferson Court    |6109      |2018-04-18T16:51:47.000-04:00|
|NorthOlmsted     |10         |Example Bank|(123)414-5047|OH          |Cambridge Road     |44070     |2018-04-18T16:51:47.000-04:00|
|Hillsborough     |11         |Example Bank|(123)436-6354|NJ          |3rd Street West    |8844      |2018-04-18T16:51:47.000-04:00|
|MadisonHeights   |12         |Example Bank|(123)486-7175|MI          |Mill Road          |48071     |2018-04-18T16:51:47.000-04:00|
|Oviedo           |14         |Example Bank|(123)493-8460|FL          |Washington Street  |32765     |2018-04-18T16:51:47.000-04:00|
|Mechanicsburg    |15         |Example Bank|(123)446-2043|PA          |Chestnut Street    |17050     |2018-04-18T16:51:47.000-04:00|
|Plainview        |16         |Example Bank|(123)485-7525|NY          |Monroe Drive       |11803     |2018-04-18T16:51:47.000-04:00|
|Paducah          |17         |Example Bank|(123)454-6360|KY          |Railroad Street    |42001     |2018-04-18T16:51:47.000-04:00|
|Harleysville     |18         |Example Bank|(123)482-4455|PA          |Church Street South|19438     |2018-04-18T16:51:47.000-04:00|
|SilverSpring     |19         |Example Bank|(123)448-4380|MD          |King Street        |20901     |2018-04-18T16:51:47.000-04:00|
|Burnsville       |20         |Example Bank|(123)484-0138|MN          |Canterbury Drive   |55337     |2018-04-18T16:51:47.000-04:00|
|Tacoma           |21         |Example Bank|(123)436-2433|WA          |2nd Avenue         |98444     |2018-04-18T16:51:47.000-04:00|
|Carlisle         |22         |Example Bank|(123)492-2492|PA          |Front Street South |17013     |2018-04-18T16:51:47.000-04:00|
+-----------------+-----------+------------+-------------+------------+-------------------+----------+-----------------------------+
only showing top 20 rows

In [10]:
branch_df.createOrReplaceTempView("CDW_SAPP_BRANCH")
branch_cleaned = spark.sql("SELECT BRANCH_CODE, BRANCH_NAME, BRANCH_STREET, BRANCH_CITY, BRANCH_STATE, BRANCH_ZIP,\
                           BRANCH_PHONE, LAST_UPDATED from CDW_SAPP_BRANCH")
branch_cleaned.show(truncate=False)

+-----------+------------+-------------------+-----------------+------------+----------+-------------+-----------------------------+
|BRANCH_CODE|BRANCH_NAME |BRANCH_STREET      |BRANCH_CITY      |BRANCH_STATE|BRANCH_ZIP|BRANCH_PHONE |LAST_UPDATED                 |
+-----------+------------+-------------------+-----------------+------------+----------+-------------+-----------------------------+
|1          |Example Bank|Bridle Court       |Lakeville        |MN          |55044     |(123)456-5276|2018-04-18T16:51:47.000-04:00|
|2          |Example Bank|Washington Street  |Huntley          |IL          |60142     |(123)461-8993|2018-04-18T16:51:47.000-04:00|
|3          |Example Bank|Warren Street      |SouthRichmondHill|NY          |11419     |(123)498-5926|2018-04-18T16:51:47.000-04:00|
|4          |Example Bank|Cleveland Street   |Middleburg       |FL          |32068     |(123)466-3064|2018-04-18T16:51:47.000-04:00|
|5          |Example Bank|14th Street        |KingOfPrussia    |PA          |19406     |(123)484-9701|2018-04-18T16:51:47.000-04:00|
|7          |Example Bank|Jefferson Street   |Paterson         |NJ          |7501      |(123)414-4890|2018-04-18T16:51:47.000-04:00|
|8          |Example Bank|B Street           |Pittsford        |NY          |14534     |(123)467-8272|2018-04-18T16:51:47.000-04:00|
|9          |Example Bank|Jefferson Court    |Wethersfield     |CT          |6109      |(123)467-5219|2018-04-18T16:51:47.000-04:00|
|10         |Example Bank|Cambridge Road     |NorthOlmsted     |OH          |44070     |(123)414-5047|2018-04-18T16:51:47.000-04:00|
|11         |Example Bank|3rd Street West    |Hillsborough     |NJ          |8844      |(123)436-6354|2018-04-18T16:51:47.000-04:00|
|12         |Example Bank|Mill Road          |MadisonHeights   |MI          |48071     |(123)486-7175|2018-04-18T16:51:47.000-04:00|
|14         |Example Bank|Washington Street  |Oviedo           |FL          |32765     |(123)493-8460|2018-04-18T16:51:47.000-04:00|
|15         |Example Bank|Chestnut Street    |Mechanicsburg    |PA          |17050     |(123)446-2043|2018-04-18T16:51:47.000-04:00|
|16         |Example Bank|Monroe Drive       |Plainview        |NY          |11803     |(123)485-7525|2018-04-18T16:51:47.000-04:00|
|17         |Example Bank|Railroad Street    |Paducah          |KY          |42001     |(123)454-6360|2018-04-18T16:51:47.000-04:00|
|18         |Example Bank|Church Street South|Harleysville     |PA          |19438     |(123)482-4455|2018-04-18T16:51:47.000-04:00|
|19         |Example Bank|King Street        |SilverSpring     |MD          |20901     |(123)448-4380|2018-04-18T16:51:47.000-04:00|
|20         |Example Bank|Canterbury Drive   |Burnsville       |MN          |55337     |(123)484-0138|2018-04-18T16:51:47.000-04:00|
|21         |Example Bank|2nd Avenue         |Tacoma           |WA          |98444     |(123)436-2433|2018-04-18T16:51:47.000-04:00|
|22         |Example Bank|Front Street South |Carlisle         |PA          |17013     |(123)492-2492|2018-04-18T16:51:47.000-04:00|
+-----------+------------+-------------------+-----------------+------------+----------+-------------+-----------------------------+
only showing top 20 rows

In [11]:
branch_cleaned.printSchema()

root
 |-- BRANCH_CODE: long (nullable = true)
 |-- BRANCH_NAME: string (nullable = true)
 |-- BRANCH_STREET: string (nullable = true)
 |-- BRANCH_CITY: string (nullable = true)
 |-- BRANCH_STATE: string (nullable = true)
 |-- BRANCH_ZIP: integer (nullable = false)
 |-- BRANCH_PHONE: string (nullable = true)
 |-- LAST_UPDATED: string (nullable = true)

Next, TIMEID is created by concatenating the "YEAR", "MONTH", and "DAY" columns. the month and day columns
will be padded with 0 on the left side if less than 2 digits.

In [12]:
# For CDW_SAPP_CREDITCARD
credit_df = spark.read.json("C:/PE/CAP350/cdw_sapp_credit.json")
credit_df = credit_df.withColumn("TIMEID", concat(col("YEAR"), lpad(col("MONTH"), 2, "0"), lpad(col("DAY"), 2, "0")))

In [26]:
credit_df.columns

['BRANCH_CODE',
 'CREDIT_CARD_NO',
 'CUST_SSN',
 'DAY',
 'MONTH',
 'TRANSACTION_ID',
 'TRANSACTION_TYPE',
 'TRANSACTION_VALUE',
 'YEAR',
 'TIMEID']

In [14]:
credit_df.createOrReplaceTempView("CDW_SAPP_CREDIT_CARD")
credit_cleaned = spark.sql("SELECT * from CDW_SAPP_CREDIT_CARD")
credit_cleaned.show(truncate=False)

+-----------+----------------+---------+---+-----+--------------+----------------+-----------------+----+--------+
|BRANCH_CODE|CREDIT_CARD_NO  |CUST_SSN |DAY|MONTH|TRANSACTION_ID|TRANSACTION_TYPE|TRANSACTION_VALUE|YEAR|TIMEID  |
+-----------+----------------+---------+---+-----+--------------+----------------+-----------------+----+--------+
|114        |4210653349028689|123459988|14 |2    |1             |Education       |78.9             |2018|20180214|
|35         |4210653349028689|123459988|20 |3    |2             |Entertainment   |14.24            |2018|20180320|
|160        |4210653349028689|123459988|8  |7    |3             |Grocery         |56.7             |2018|20180708|
|114        |4210653349028689|123459988|19 |4    |4             |Entertainment   |59.73            |2018|20180419|
|93         |4210653349028689|123459988|10 |10   |5             |Gas             |3.59             |2018|20181010|
|164        |4210653349028689|123459988|28 |5    |6             |Education       |6.89             |2018|20180528|
|119        |4210653349028689|123459988|19 |5    |7             |Entertainment   |43.39            |2018|20180519|
|23         |4210653349028689|123459988|8  |8    |8             |Gas             |95.39            |2018|20180808|
|166        |4210653349028689|123459988|18 |3    |9             |Entertainment   |93.26            |2018|20180318|
|83         |4210653349028689|123459988|3  |9    |10            |Bills           |100.38           |2018|20180903|
|52         |4210653349028689|123459988|21 |8    |11            |Gas             |98.75            |2018|20180821|
|17         |4210653349028689|123459988|24 |12   |12            |Gas             |42.71            |2018|20181224|
|80         |4210653349028689|123459988|3  |4    |13            |Grocery         |40.24            |2018|20180403|
|50         |4210653349028689|123459988|15 |4    |14            |Bills           |17.81            |2018|20180415|
|123        |4210653349028689|123459988|17 |5    |15            |Bills           |29.0             |2018|20180517|
|9          |4210653349028689|123459988|6  |7    |16            |Test            |70.63            |2018|20180706|
|3          |4210653349028689|123459988|28 |9    |17            |Test            |27.04            |2018|20180928|
|135        |4210653349028689|123459988|4  |7    |18            |Entertainment   |88.75            |2018|20180704|
|103        |4210653349028689|123459988|24 |4    |19            |Test            |77.02            |2018|20180424|
|78         |4210653349028689|123459988|8  |10   |20            |Bills           |34.34            |2018|20181008|
+-----------+----------------+---------+---+-----+--------------+----------------+-----------------+----+--------+
only showing top 20 rows

In [17]:
credit_cleaned.printSchema()

root
 |-- BRANCH_CODE: long (nullable = true)
 |-- CREDIT_CARD_NO: string (nullable = true)
 |-- CUST_SSN: long (nullable = true)
 |-- DAY: long (nullable = true)
 |-- MONTH: long (nullable = true)
 |-- TRANSACTION_ID: long (nullable = true)
 |-- TRANSACTION_TYPE: string (nullable = true)
 |-- TRANSACTION_VALUE: double (nullable = true)
 |-- YEAR: long (nullable = true)
 |-- TIMEID: string (nullable = true)

In [18]:
credit_df.createOrReplaceTempView("CDW_SAPP_CREDIT_CARD")
credit_cleaned = spark.sql("SELECT CREDIT_CARD_NO as CUST_CC_NO, TIMEID, CUST_SSN, BRANCH_CODE, TRANSACTION_TYPE,\
    TRANSACTION_VALUE, TRANSACTION_ID from CDW_SAPP_CREDIT_CARD")
credit_cleaned.show(truncate=False)

+----------------+--------+---------+-----------+----------------+-----------------+--------------+
|CUST_CC_NO      |TIMEID  |CUST_SSN |BRANCH_CODE|TRANSACTION_TYPE|TRANSACTION_VALUE|TRANSACTION_ID|
+----------------+--------+---------+-----------+----------------+-----------------+--------------+
|4210653349028689|20180214|123459988|114        |Education       |78.9             |1             |
|4210653349028689|20180320|123459988|35         |Entertainment   |14.24            |2             |
|4210653349028689|20180708|123459988|160        |Grocery         |56.7             |3             |
|4210653349028689|20180419|123459988|114        |Entertainment   |59.73            |4             |
|4210653349028689|20181010|123459988|93         |Gas             |3.59             |5             |
|4210653349028689|20180528|123459988|164        |Education       |6.89             |6             |
|4210653349028689|20180519|123459988|119        |Entertainment   |43.39            |7             |
|4210653349028689|20180808|123459988|23         |Gas             |95.39            |8             |
|4210653349028689|20180318|123459988|166        |Entertainment   |93.26            |9             |
|4210653349028689|20180903|123459988|83         |Bills           |100.38           |10            |
|4210653349028689|20180821|123459988|52         |Gas             |98.75            |11            |
|4210653349028689|20181224|123459988|17         |Gas             |42.71            |12            |
|4210653349028689|20180403|123459988|80         |Grocery         |40.24            |13            |
|4210653349028689|20180415|123459988|50         |Bills           |17.81            |14            |
|4210653349028689|20180517|123459988|123        |Bills           |29.0             |15            |
|4210653349028689|20180706|123459988|9          |Test            |70.63            |16            |
|4210653349028689|20180928|123459988|3          |Test            |27.04            |17            |
|4210653349028689|20180704|123459988|135        |Entertainment   |88.75            |18            |
|4210653349028689|20180424|123459988|103        |Test            |77.02            |19            |
|4210653349028689|20181008|123459988|78         |Bills           |34.34            |20            |
+----------------+--------+---------+-----------+----------------+-----------------+--------------+
only showing top 20 rows

In [37]:

driver = "com.mysql.jdbc.Driver"
url = "jdbc:mysql://localhost:3306/creditcard_capstone"
properties = {
    "driver": driver,
    "user": "root",
    "password": "password"
}
cust_cleaned.write.jdbc(url=url, table="CDW_SAPP_CUSTOMER", mode="overwrite", properties=properties)
branch_cleaned.write.jdbc(url=url, table="CDW_SAPP_BRANCH", mode="overwrite", properties=properties)
credit_cleaned.write.jdbc(url=url, table="CDW_SAPP_CREDIT_CARD", mode="overwrite", properties=properties)

In [16]:
credit_df.createOrReplaceTempView("CDW_SAPP_CREDIT_CARD")
credit_type = spark.sql("SELECT TRANSACTION_TYPE, sum(TRANSACTION_VALUE) from CDW_SAPP_CREDIT_CARD\
                        group by TRANSACTION_TYPE\
                        having TRANSACTION_TYPE='Bills'")
credit_type.show(truncate=False)

+----------------+----------------------+
|TRANSACTION_TYPE|sum(TRANSACTION_VALUE)|
+----------------+----------------------+
|Bills           |351405.2800000001     |
+----------------+----------------------+

In [15]:
credit_df.createOrReplaceTempView("TransType")
trans_cleaned = spark.sql("SELECT DISTINCT TRANSACTION_TYPE from CDW_SAPP_CREDIT_CARD")
trans_cleaned.show(truncate=False)

+----------------+
|TRANSACTION_TYPE|
+----------------+
|Education       |
|Entertainment   |
|Healthcare      |
|Grocery         |
|Test            |
|Gas             |
|Bills           |
+----------------+